name: Push Docker Image to Docker Hub

on:
  push:
    branches:
      - '**'

jobs:
  push_to_docker_hub:
    name: Push Docker Image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        id: checkout_code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        id: login_docker_hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract branch name
        shell: bash
        run: |
          echo "branch=$(echo ${GITHUB_REF#refs/heads/} | sed 's/\//-/g')" >> $GITHUB_OUTPUT
        id: extract_branch

      - name: Build Docker image
        id: build_image
        run: |
          # Define variables for cleaner commands
          IMAGE_NAME="${{ secrets.DOCKERHUB_USER }}/splat-mesh-compare"
          BRANCH_TAG="${{ steps.extract_branch.outputs.branch }}"

          # Build the image with the specific branch tag
          docker build "$GITHUB_WORKSPACE" -t $IMAGE_NAME:$BRANCH_TAG --label dockerfile-path="Dockerfile"

          # If the branch is 'main', add the 'latest' tag as well
          if [ "$BRANCH_TAG" == "main" ]; then
            docker tag $IMAGE_NAME:$BRANCH_TAG $IMAGE_NAME:latest
          fi

      - name: Push Docker image
        run: |
          IMAGE_NAME="${{ secrets.DOCKERHUB_USER }}/splat-mesh-compare"
          BRANCH_TAG="${{ steps.extract_branch.outputs.branch }}"

          # Push the specific branch tag
          docker push $IMAGE_NAME:$BRANCH_TAG

          # If the branch is 'main', push the 'latest' tag
          if [ "$BRANCH_TAG" == "main" ]; then
            docker push $IMAGE_NAME:latest
          fi

      - name: Logout from Docker Hub
        run: docker logout

      - name: End
        run: echo "Docker image pushed to Docker Hub successfully"
